---
import BlogPost from '../../layouts/BlogPost.astro';
import { notion, getNotion } from "../../library/notion";
import { marked } from "marked";


// ページの全IDを取得
export async function getStaticPaths() {
  const response = await getNotion.results;
  return response.map((content: any) => ({
    params: {
      slug: content.id
    },
  }));
}
const { slug } = Astro.params;
const pageProps = await notion.pages.retrieve({ page_id: slug });

// ---
import {NotionToMarkdown} from "notion-to-md";
// passing notion client to the option
const n2m = new NotionToMarkdown({ notionClient: notion });
const md2html = (async () => {
  // get all blocks in the page
	const mdblocks = await n2m.pageToMarkdown(slug);
	const mdString = n2m.toMarkdownString(mdblocks);
	return marked(mdString);
})();

---

<BlogPost>
	<h1 class="title">{pageProps.properties.title.title[0].plain_text}</h1>
	<div>
		Last updated on <time>{pageProps.properties.date.date.start}</time>
	</div>
	<hr>
	<div set:html={md2html}></div>
</BlogPost>
<style>
	.title {
		font-size: 2em;
		margin: 0.25em 0 0;
	}
	hr {
		border-top: 1px solid #ddd;
		margin: 1rem 0;
	}
</style>